:root {
    --brand-color: #29569b;
    --accent-color: #8f128f;

    --font-family: 'Montserrat', sans-serif;;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --font-weight-900: 900;

    --border-radius: 4px;

    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}